In [1]:
# module
import numpy as np
import pandas as pd
import tqdm
from haversine import haversine
from tqdm import tqdm_pandas, tqdm

In [2]:
#load data
승하차 = pd.read_csv('서울시 버스노선별 정류장별 승하차 인원 정보.csv', encoding = 'cp949')
위치 = pd.read_csv('서울시버스정류소좌표.csv')

In [3]:
표준승하 = 승하차.groupby('표준버스정류장ID').mean().reset_index()[['표준버스정류장ID', '승차총승객수', '하차총승객수']]
표준승하.columns = ['NODE_ID', 'on_bus', 'off_bus']

In [4]:
없는거다빼 = pd.merge(위치, 표준승하, on = 'NODE_ID', how = 'left').dropna(axis = 0)

In [5]:
없는거다빼.to_csv('버스좌표및승하차인원.csv', encoding = 'cp949', index = False)