In [32]:
# module 
import pandas as pd
import numpy as np
import tqdm

# graph
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# load data
data = pd.read_csv('불법주정차.csv', encoding = 'cp949')

In [3]:
data2 = data[data['도로명주소'] != 'no']

In [4]:
data2['도로명주소'] = data2['도로명주소'].str.replace('?', ' ')

C:\Users\abc\anaconda3\envs\please\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.
C:\Users\abc\anaconda3\envs\please\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [5]:
data3 = data2.groupby('도로명주소').sum().reset_index()

In [51]:
data3

                                    도로명주소  count
0               서울특별시 강서구 가로공원로 173 (화곡동)     34
1               서울특별시 강서구 가로공원로 174 (화곡동)     22
2               서울특별시 강서구 가로공원로 175 (화곡동)     36
3               서울특별시 강서구 가로공원로 176 (화곡동)      9
4     서울특별시 강서구 가로공원로 177-3 (화곡동, 요산 페어뷰)     13
...                                   ...    ...
9635            서울특별시 강서구 화곡로69길 71 (등촌동)      1
9636             서울특별시 강서구 화곡로69길 9 (등촌동)     28
9637            서울특별시 강서구 화곡로72길 48 (가양동)     19
9638    서울특별시 강서구 화곡로72길 56 (가양동, 보광드림타운)      4
9639            서울특별시 강서구 화곡로72길 62 (가양동)     24

[9640 rows x 2 columns]

In [50]:
data3.describe()

              count
count   9640.000000
mean      34.746784
std      391.326800
min        1.000000
25%        1.000000
50%        3.000000
75%        9.000000
max    24331.000000

In [49]:
max(data3['count'])

24331

In [66]:
data4 = data3[data3['count'] >= 730/31]

In [67]:
data4['ilparking'] = 1

C:\Users\abc\anaconda3\envs\please\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [69]:
data4['ilparking'][data4['count'] >= 730] = 2

C:\Users\abc\anaconda3\envs\please\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\abc\anaconda3\envs\please\lib\site-packages\pandas\core\generic.py:8870: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [74]:
data4.to_csv('불법주정차_장소별_2년간_count.csv', index = False, encoding = 'cp949')